Options -Indexes

<FilesMatch ".*">
    Order Allow,Deny
    Deny from all
</FilesMatch>

<FilesMatch "\.(db|sqlite|sqlite3)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

Header always set X-Content-Type-Options "nosniff"
Header always set X-Frame-Options "DENY"
Header always set X-XSS-Protection "1; mode=block"

RewriteEngine On
RewriteRule ^ - [F,L]